<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>Lista zadañ</h2>
    <div ng-controller="TodoCtrl">
      <span>Pozosta³o {{remaining()}} z {{todos.length}}</span>
      [ <a href="" ng-click="archive()">usuñ zakoñczone</a> ]
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText" size="30"
               placeholder="Dodaj nowe zadanie">
        <input class="btn-primary" type="submit" value="Dodaj">
      </form>
    </div>
  </body>
</html>